[submodule "kb_metrics"]
	path = kb_metrics
	url = https://github.com/KNOT-FIT-BUT/kb_metrics/
[submodule "ws_file_locking"]
	path = ws_file_locking
	url = https://github.com/KNOT-FIT-BUT/ws_file_locking.git
